* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #D8C99B;
  color: #273E47;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #fff;
  border: 2px solid #273E47;
  border-radius: 10px;
  padding: 40px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(39, 62, 71, 0.3);
}

h1 {
  color: #D8973C;
  text-align: center;
  margin-bottom: 25px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #273E47;
}

input[type="email"],
input[type="password"]{
  width: 100%;
  padding: 12px 12px 12px 40px;
  border: 1.5px solid #273E47;
  border-radius: 8px;
  box-sizing: border-box;
}

.btn-signup {
  width: 100%;
  padding: 12px;
  background-color: #273E47;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.btn-signup:hover {
  background-color: #D8973C;
}

.error {
  color: red;
  font-size: 0.9em;
  text-align: center;
  margin-top: 10px;
}
